:root {
    --image1: images/IMG-20171128-WA0007.jpg;
  }
 
 
 
 .nav-flex {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:rgb(233, 233, 224);
    margin-bottom: 10px;


}
.navbar-items{
flex-grow: 1;
flex-basis: 212px;
background-color: whitesmoke;

}

.nav-flex > a{
    text-decoration: none;
    text-align: center;
    padding: 1em;
    background-color: whitesmoke;
}

.nav-flex >  a:hover {
    background-color:rgb(233, 233, 224);
    transform: scale(1.2);


}
.slider {
    display: flex;
    height: 95vh;
    

}
.slider > img {
    flex-grow: 1;
}

/* Hide the slider when viewed on a mobile phone */
@media (max-width:629px) {
    .slider {
      display: none;
    }
  }

.gallery {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    border: solid 10px whitesmoke;
    
}

.gallery  > a > img {
    height: 200px;
    width: auto;
    padding: 10px;
    

}
.gallery > a:hover {
    transform: scale(1.2);
}